.coach_answer{
  border-left: 5px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  font-size: 24px;
  background-color: rgba(245, 245, 220, 0.5);
  align-items: center;
  margin-bottom: 20px;
}

.my_question{
  border-left: 5px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  font-size: 24px;
  align-items: center;
  margin-bottom: 20px;
}

#sender{
  font-size: 16px;
  font-weight: bold;
}



p{
  margin-bottom: 0;
}
